body {
    padding-top: 0;
    font-family: Arial, sans-serif;
}

.carousel-img {
    height: 500px; /* Set a fixed height */
    object-fit: contain; /* Ensure the entire image is visible without cropping */
    background-color: #0e4802; /* Optional: background color to fill empty space */
}
.text-center{
    margin-bottom: 2rem;
}
#Product-desc{
    margin-top: 2rem;
}
.card {
    margin-bottom: 2rem;
    transition: 0.3s;
}
.card:hover{
    transform: scale(1.1);
}

.btn-primary {
    background-color: #388E3C; /* Darker green color */
    border-color: #388E3C;
}

footer {
    padding: 1rem 0;
    background-color: #f5f5f5; /* Light grey */
}

footer p {
    margin: 0;
}
.row{
    height: 100vh;
}